body{
background-color:#63ffff;
}
.maindiv{
width:600px;
height:490%;
border:1px solid black;
margin-left:370px;
background-color:#ffffff;
}
#headone{
text-align:center;
}
.divnum1{
padding-left:30px;

}

.divnum2{
text-align:center;
margin-top:40px;
border:1px solid black;
height:15%;

}
.divnum21{
display:flex;
text-align:center;
}
.divnum211{
text-align:center;
}
.divnum212{
margin-left:20px;
text-align:center;
}
.divnum213{
margin-left:20px;
text-align:center;
}
#innerdiv211{
padding-top: 20px;
}
#innerdiv212{
padding-top: 10px;
}
.divnum214{
margin-left:30px;
text-align:center;
}

.divnum215{
margin-left:60px;
text-align:center;
}
.timediv{
padding-top:20px;
padding-left:30px;
}
.submitbutton{
padding-top:20px;
padding-left:280px;
}
